<app-header></app-header>
   <!-- Product section-->
   
   <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img style="width: 300px;height: 300px;" class="card-img-top mb-5 mb-md-0" [src]="product.image" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">Product Id: {{product._id}}</div>
                <h1  class=" fw-bolder">{{product.title.slice(0,20)}}...</h1>
                <div class="fs-5 mb-5">
                    
                    <span>$40.00</span>
                </div>
                <p class="lead">{{product.description}}</p>
                <div class="d-flex justify-content-between">
                    
                    <button (click)="addToCart(product)" class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="fa-solid fa-cart-plus text-success"></i>
                        Add to cart
                    </button>
                    <button (click)="addToWishlist(product)" class="btn btn-outline-dark flex-shrink-0 ms-2" type="button">
                        <i class="fa-solid fa-heart text-danger"></i>
                        Add to Wishlist
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
